
:root {
    --mainColor: #a6e7ff;
    --mainColorLight: #c7f0ff;
    --secondaryColor: #1c6a86;
    --textColor: rgb(0, 0, 0);
  }

.DetailWrapper {
font-family: Helvetica, sans-serif;
	margin-top: 10rem;
	margin-bottom: 5rem;
    margin: 10px;
	display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    text-align: left;
    align-items: center;
    flex-direction:row !important;
}
@media (max-width: 1200px) {
    .DetailWrapper {
        grid-template-columns:  1fr;
        grid-template-rows:1fr;
   }
}
   @media (max-width: 800px) {
  img {
    justify-content: center;
    width: 80%;
    height: auto;
  }
  
   }
h2 {
	margin-bottom: 2rem;
    color: #fff;

}

.img {
    display: flex;
    justify-content: center;
}

.headTitle {
    background-color:  var(--mainColor);
    padding: 1rem;
    display: inline;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 4rem;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--textColor);
}


li {
	font-size: 1.2rem;
	line-height: 2.5rem;
}

ul {
	margin-top: 2rem;

}

img {
    border-radius: 10px;
    margin: 2rem;
}

.active {
	color: var(--textColor);
	background: var(--mainColor);
}


.Button {
	padding: 1rem 2rem;
    margin: 1rem;
	background-color: var(--textColor);
	border: 3px solid var(--mainColor);
    border-radius: 10px;
	margin-right: 2rem;
	font-weight: 600;
    color: var(--mainColorLight);
    
}

.Info {

margin: 30px;

}



